
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="error-page">
        <div class="headline text-red">
            Access Denied
        </div>
        <div class="error-content">
            <p>Your Not Authorized to Access This Page.If You Require Access to This Page Please Contact System Administrator.</p>
        </div>
    </div>
</section>


