<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProviderPortBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="ProviderPortBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://mlocator.mobitel.lk:443/mlocator_v3_api/services/Provider" binding="basicHttpBinding" bindingConfiguration="ProviderPortBinding" contract="svcref.Provider" name="ProviderPort"/>
        </client>
    </system.serviceModel>
</configuration>
