@{
    ViewBag.Title = "Home Page";
    
}

@*<section class="content-header">
    <h1>
        Blank page
        <small>it all starts here</small>
    </h1>

</section>*@

<section class="content">
    <div class="box" style="text-align: center;">
           <img src="~/Content/Images/wecome.jpg" />
    </div>
</section>
